#root {
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
}

.list-container::-webkit-scrollbar {
  width: 5px;
}

.list-container::-webkit-scrollbar-track {
  border-radius: 10px;
}

.list-container::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

.list-container:hover::-webkit-scrollbar-thumb {
  background-color: #aaaaaa;
}
